<footer>
    <div class="footer-box">
       
        <div class="column-flex">
            <div class="row1-flex">
                   <div class="col1row1 widthrow1">
                     <h3>Featured Rentals</h3>
                      <a href="/rentals">Cottage</a>
                      <a href="/rentals">Castles</a>
                      <a href="/rentals">Mansions</a>
                      <a href="/rentals">Lakefront</a>
                      <a href="/rentals">Countryside</a>
                      <a href="/rentals">Tropical</a>
                   </div>
                   <div class="col2row1 widthrow1">
                    <h3>Menu Items</h3>
                    <a href="/rentals">Rentals</a>
                    <a href="/sign-up">Registration</a>
                    <a href="/log-in">Login</a>
                   </div>
                   <div class="col3row1 widthrow1">
                    <h3>Company</h3>
                    <a href="/log-in">About Us</a>
                    <a href="/log-in">Careers</a>
                    <a href="/log-in">Contact Us</a>


                   </div>
             </div>
             <div class = "hori">
             <hr class="dec-hr">
            </div>
             <div class="dec">
                By submitting this assignment I declare that this assignment is my own work in accordance with
                the Seneca Academic Policy. No part of this assignment has been copied manually or
                electronically from any other source (including web sites) or distributed to other students.
             </div>
             <div class="row2-flex">
                <div class="hr-line"></div>
                <div class="hr-icon"><a href="http://www.twitter.com"target="_blank"> <i class="fa-brands fa-twitter"></i> </a></div>
                <div class="hr-icon"><a href="http://www.instagram.com" target="_blank"> <i class="fa-brands fa-instagram"></i> </a></div>
                <div class="hr-icon"><a href="http://www.whatsapp.com" target="_blank"> <i class="fa-brands fa-whatsapp"></i> </a></div>
                <div class="hr-icon"><a href="http://www.facebook.com"target="_blank"> <i class="fa-brands fa-facebook"></i> </a></div>
                <div class="hr-line"></div>
                  
             </div>
             <div class="row3-flex">
                   <div class="copyright">

                    © Avni Goyal, agoyal31@senecacollege.ca, WEB322 Winter 2023

                 </div>
             </div>
        
    </div>
    
 </footer>

    


