<div class="box">
  <div class="center">
    <h1>log-in</h1>
    {{!-- <p>create your account today to view exclusive offers and reserve dream house.</p> --}}
    <form>
      <div class="inputbox">
        <input type="text" required="required" />
        <span>Email</span>
      </div>
      <div class="inputbox">
        <input type="text" required="required" />
        <span>Password</span>
      </div>
      <div class="inputbox subbut">
        <input type="button" value="submit" />
      </div>
    </form>
  </div>
</div>