<div class="box">
  <div class="center">
    <h1>sign-up</h1>
    <p>Fill this form to create an account.</p>
    <form method="post" action="/sign-up">

        <div class="inputbox">
          <label for="firstName"></label>
        <input type="text" id="firstName" name = "firstName" placeholder="First Name"/><br>
        </div>
      
      <div class="inputbox">
        <label for="lastName"></label>
        <input type="text" id="lastName" name = "lastName" placeholder="Last Name"/><br>
      </div>

      <div class="inputbox">
        <label for="email"></label>
        <input type="text" id="email" name = "email" placeholder="Email"/><br>
      </div>
      
      <div class="inputbox">
        <label for="password"></label>
        <input type="password" id="password" name = "password" placeholder="Password"/><br>
      </div>
      
      <div class="inputbox">
        <input type="submit" value="sign-up" />
      </div>
    </form>
  </div>
</div>