<article>

    <h1 id = "rentalHeading">Your city choice matters!</h1>

    {{#each distinguishProperty}}
    <div>
        <h1> {{cityProvince}} </h1>
    </div>
    <div class="rentalsGroup">
        {{#each rentalsToBeDisplayed}}
        {{>rental ifCustomer  = ../../isCustomer}}
        {{/each}}
    </div>
    {{/each}}

</article>